@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap');

* {
  font-family: "Montserrat";
  margin:0;
  padding:0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
  color: gold;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #080301;
  color: white;
  font-size: small;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 8px;
  font-weight: 400;
}